.header {
    width: 100%;
    line-height:58PX;
    padding: 0px 10px;
    background-color: #6D9CD2;
    border-color: #6D9CD2;
    font-size: 24px;
    color: white;
}
.header .user > img {
    display: inline-block;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}
.header .container-fluid{
    display: flex;
    justify-content: space-between;
}
.header .container-fluid>div{
    flex-grow: 1;
}
.header .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.header .login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header .loginIn{
    width:100px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    font-size: 24px;
    /*cursor: pointer;*/
}
.header .loginIn>p{
    width: 100%;
    overflow:hidden;
    text-overflow:ellipsis

}
.header .loginIn .glyphicon{
    font-size: 16px;
}
.header .glyphicon-off{
    color: white;
    font-size: 25px;
    cursor: pointer;
}