<div class="business" ng-controller="businessCtrl">
    <table class="topTable table">
        <tr class="year">
            <th>运营年限</th>
        </tr>
        <tr class="rate">
            <td>负荷率(%)</td>
        </tr>
        <tr class="pay">
            <td>补贴收入(万元)</td>
        </tr>
    </table>
    <table ng-if="yearCount" class="bottomTable table">
        <tr class="year">
            <th>运营年限</th>
        </tr>
        <tr class="rate">
            <td>负荷率(%)</td>
        </tr>
        <tr class="pay">
            <td>补贴收入(万元)</td>
        </tr>
    </table>
</div>