<div class="contractor" ng-controller="contractorCtrl">
    <div class="conTop">
        <div class="tableLeft">
            <div class="tableHead">
                <table>
                    <thead>
                    <tr>
                        <th width="10%">序号</th>
                        <th width="45%">项目</th>
                        <th width="45%">比例(%)</th>
                    </tr>
                    </thead>
                </table>
            </div>
           <div class="tableBody scrollbars">
               <table>
                   <tbody>

                   </tbody>
               </table>
           </div>
        </div>
        <div class="right">
            <h5>工程支付款比例</h5>
            <p>软件默认进度款支付周期为1年，每年的建安工程费为应支付的工程款。
                《建设工程价款结算暂行办法》中规定：根据确定的工程计量结果，承包人向发包人提出支付工程进度款申请，14天内，发包人应按不低于工程价款的60%，不高于工程价款的90%向承包人支付工程进度款。
            </p>
            <h5>竣工验收支付</h5>
            <p>概念：竣工验收支付指建设工程项目竣工后取得竣工合格资料、数据和凭证，发包人应按照约定及调整支付竣工验收工程款。</p>
            <h5>建设项目总结算支付</h5>
            <p>概念：依照《建设工程价款结算暂行办法》，工程完工后双方应按照约定的合同价款及合同调整内容以及索赔事项进行工程竣工结算。</p>
            <h5>质保金</h5>
            <p>建制[2017]138号对《建设工程质量保证金管理办法》建制[2016]295号进行了修订，规定保证金预留比例不得高于工程价款结算总额的3%</p>
        </div>
    </div>
    <!--<div class="markText">
        <span>备注：</span>
        <textarea name="" id="" cols="50" rows="3"></textarea>
    </div>-->
</div>