<div class="depriciationx" ng-controller="depriciationxCtrl">
    <div class="btns">
        <button class="addLine" ng-click="add()">增加行</button>
        <button class="deleLine" ng-click="delete()">删除行</button>
    </div>
    <div class="tableCon">
        <div class="head tableLeft">
            <table>
                <thead>
                <tr>
                    <th width="30%">名称</th>
                    <th width="10%">折旧年限</th>
                    <th width="20%">残值率(%)</th>
                    <th width="20%">运营期年份</th>
                    <th width="20%">数值(万元)</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="body tableLeft scrollbars">
            <table>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>