<div class="rincometax scrollbars" ng-controller="rmaterialsCtrl">
    <div class="rmaterialsTable table_fixed">
        <table>
            <thead>
            <tr>
                <th width="60px" rowspan="2">序号</th>
                <th width="200px" rowspan="2">项目</th>
                <th width="100px" rowspan="2">合计</th>
            </tr>
            </thead>
            <tbody>
            <tr index="{{$index}}" ng-repeat="item in list track by $index"></tr>
            </tbody>
        </table>
    </div>
    <div class="rmaterialsTable tableAuto scrollbars">
        <table>
            <thead>
            <tr>
                <th colspan="{{periodConstruction}}">建设期</th>
                <th colspan="{{periodOptrationa}}">运营期</th>
            </tr>
            <tr>

            </tr>
            </thead>
            <tbody>
            <tr index="{{$index}}" ng-repeat="item in list track by $index"></tr>
            </tbody>
        </table>
    </div>
</div>