<div>
    <div class="modal-header" >
        <h4 class="modal-title" style="float: left;">{{proType}}</h4>
        <button type="button" class="close" data-dismiss="modal" title="关闭" ng-click="cancel()">
            <span aria-hidden="true" style="font-size: 30px">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="modal-body" style="padding-bottom: 0">
        <table>
            <tr>
                <td><span>*</span>项目名称:</td>
                <td class="pro_Name">
                    <input type="text" maxlength="50" placeholder="请输入项目名称"  ng-model="proName" required />
                    <p ng-show="isPlanBlock" style="position: relative;color: red;top: 3px">项目名称不能为空</p>
                    <p ng-show="isPlanequal" style="position: relative;color: red;top: 3px">项目名称不能重复</p>
                </td>
            </tr>
            <tr>
                <td>项目地址:</td>
                <td><input type="text" placeholder="请输入详细地址" maxlength="25" ng-model="address" required /></td>
            </tr>
            <tr>
                <td>实施机构:</td>
                <td><input type="text" placeholder="请输入实施机构" maxlength="20" ng-model="organization" required /></td>
            </tr>
            <tr>
                <td>社会资本方:</td>
                <td><input type="text" placeholder="请输入社会资本方" maxlength="50" ng-model="socialCapital" required /></td>
            </tr>
            <tr>
                <td>建设起始时间:</td>
                <td class="dataStart" id="inveStart">
                    <input type="text" ng-model="dt" placeholder="请输入建设起始时间" readonly="true" ng-click="openTime($event)" />
                    <span class="glyphicon glyphicon-menu-down" ng-click="openTime($event)"></span>
                    <div style="display: none" id='schedule-box' class="boxshaw"></div>
                </td>
            </tr>
            <tr>
                <td>建设内容及规格:</td>
                <td><input type="text" ng-model="constructionScale" placeholder="请输入建设内容及规格" maxlength="250"  required /></td>
            </tr>
            <tr>
                <td>建设投资:</td>
                <td><input type="text" ng-model="invest"  onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" ng-blur="changeThousands(invest,$event)" placeholder="请输入建设投资" required />万元</td>
            </tr>
            <tr>
                <td>项目行业分布:</td>
                <td class="job" style="position: relative;">
                    <input type="text" placeholder="请输入项目行业分布" ng-model="industryTypeName" readonly="true" ng-click="selectJob()" required />
                    <span class="glyphicon glyphicon-menu-down" ng-click="selectJob()"></span>
                    <div ng-show="jobShow">
                        <option ng-repeat="item in jobList track by $index" ng-click="selectOption($index+1,item)">{{item}}</option>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="position: relative;top: -50px;">项目缩略图:</td>
                <td style="position: relative;">
                    <div style="border: 1px solid #2196f3;width: 100px;height: 100px;margin-top: 30px;">
                        <img class="pic" ng-click="upload()">
                        <!--<img ng-if="selPro==2" class="pic" src="{{image}}" ng-click="upload()">-->
                    </div>
                    <input id="upload" name="file" type="file" multiple="multiple" style="opacity: 0;"/>
                    <img ng-click="upload()" src="imgs/icon/upload.png" style="position: absolute;left: 36px;top: 65px;cursor: pointer">
                    <!--<div id="imgPreview"></div>
                    <span class="upload-img glyphicon glyphicon-picture"><input id="fileUpload" accept="image/*" type="file" multiple="multiple"></span>-->
    <!--</div>-->
                </td>
            </tr>
        </table>

    </div>
    <div class="modal-footer" style="border-top: none;padding-bottom: 15px">
        <button class="btn btn-primary" ng-click="okPro()">确定</button>
        <button class="btn btn-primary" ng-click="cancel()">取消</button>
    </div>
</div>
