<div>
    <div class="modal-header" >
        <!--<h4 class="modal-title" style="float: left;">新建方案</h4>-->
        <button type="button" class="close" data-dismiss="modal" title="关闭" ng-click="cancel()">
            <span aria-hidden="true" style="font-size: 30px">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="modal-body" style="padding-bottom: 0">
        <h4>是否删除？</h4>
    </div>
    <div class="modal-footer" style="border-top: none;padding-bottom: 15px">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
        <button class="btn btn-primary" ng-click="cancel()">取消</button>
    </div>
</div>