<div class="otherCost" ng-controller="otherCostCtrl">
    <div class="conTop">
        <div class="tableCon">
            <div class="head tableLeft">
                <table>
                    <thead>
                    <tr>
                        <th width="10%">序号</th>
                        <th width="45%">项目</th>
                        <th width="45%">值</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="body tableLeft">
                <table>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="right">
            <p><span>1.其他制造费用。</span>是指由制造费用中扣除生产单位管理人员工资及福利费、折旧费、修理费后的其余部分。</p>
            <p>其他制造费用计算基数为：按照固定资产原值（扣除所含的建设期利息）的百分数</p>
            <p><span>2.其他管理费用。</span>是指由管理费用中扣除工资及福利费、折旧费、摊销费、修理费后的其余部分。</p>
            <p>其他管理费用计算基数为：工资及福利费总额的倍数</p>
            <p><span>3.其他营业费用。</span>其他营业费用是指由营业费用中扣除工资及福利费、折旧费、修理费后的其余部分。</p>
            <p>其他营业费用计算基数为：营业收入的百分数</p>
            <p><span>4.修理费用。</span>修理费是指为保持固定资产的正常运转和使用，充分发挥使用效能，对其进行必要的修理所发生的费用。</p>
            <p>修理费计算基数为：固定资产原值（扣除所含的建设期利息）的百分数。</p>
        </div>
    </div>

    <!--<div class="markText">
        <span>备注：</span>
        <textarea name="" id="" cols="50" rows="3"></textarea>
    </div>-->
</div>