<div class="salary" ng-controller="salaryCtrl">
    <div class="invTitle">
        <div class="btns">
            <button class="addLine" ng-click="add()">增加行</button>
            <button class="deleLine" ng-click="delete()">删除行</button>
        </div>
    </div>
    <div class="tableCon">
        <div class="head tableLeft">
            <table>
                <thead>
                <tr>
                    <th width="10%">序号</th>
                    <th width="15%">员工类型</th>
                    <th width="15%">人数</th>
                    <th width="15%">人均年工资(万元)</th>
                    <th width="15%">福利系数(%)</th>
                    <th width="15%">合计</th>
                    <th width="15%">成本类型</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="body tableLeft scrollbars">
            <table>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <!--<div class="markText">
        <span>备注：</span>
        <textarea name="" id="" cols="50" rows="3"></textarea>
    </div>-->
</div>